<%- include('partials/header.ejs')  %>
<script src="/js/nasa.js" defer></script>
</head>
    
<body>
    
    <h1 class = "text-center">Spacestagram</h1>
    <div class="container">
      <div class="row">
        <div class="col-sm">
        </div>
        <div class="col-sm">
          <% for (report of JSON.parse(reports)) {%>
              <%- report %> 
            <% } %>
        </div>
        <div class="col-sm">
        </div>
      </div>
</div>
</body>
</html>