<%- include('partials/header.ejs')  %>

<body>

      <h1>Nasa's media of the day</h1>
    <div class="container">
      <div class="row">
        <div class="col-sm">
          One of three columns
        </div>
        <div class="col-sm">
          <img src = "<%=nasaIMG%>" height = 100px>
        </div>
        <div class="col-sm">
          One of three columns
        </div>
      </div>
</div>
</body>
</html>