<%- include('partials/header.ejs')  %>
<script src="/js/nasa.js" defer></script>
</header>
    <nav class = "clearfix">
        <a href = "https://github.com/jwlexi/Shopify-Intern-Spacestagram"><h1 class = "text-center" id = "Spacetagram">Spacestagram</h1> </a>
        <img src = "https://freepngimg.com/download/space/23041-1-nasa-image.png" width = 70px height = 55px>
        <button class = "btn btn-dark" onClick="window.location.reload();" id = "refreshButton"> Click me to see more </button>
    </nav>
<main class = "container">
    <strong><em><p class = "text-center" id = "subtitle"> photos AND videos brought to you by NASA </p> </em> </strong>
      <div class="row">
        <article class="col-sm" id = "cards1">
            <% for (report of JSON.parse(reports2)) {%>
              <%- report %> 
            <% } %>
        </article>
        <article class="col-sm" id = "cards2">
          <% for (report of JSON.parse(reports)) {%>
              <%- report %> 
            <% } %>
        </article>
        <article class="col-sm" id = "cards3">
            <% for (report of JSON.parse(reports3)) {%>
              <%- report %> 
            <% } %>
        </article>
      </div>
</main>
</html>