<%- include('partials/header.ejs')  %>
<script src="/js/nasa.js" defer></script>
</header>
<main>
    <h1 class = "text-center">Spacestagram</h1>
    <div class="container">
      <div class="row">
        <aside class="col-sm"></aside>
        <div class="col-sm">
          <% for (report of JSON.parse(reports)) {%>
              <%- report %> 
            <% } %>
        </div>
        <aside class="col-sm"></aside>
      </div>
    </div>
</main>
</html>