<%- include('partials/header.ejs')  %>
<script src="/js/nasa.js" defer></script>
</header>
    <nav class = "clearfix">
        <h1 class = "text-center" style = "float:left;">Spacestagram</h1>
        <button class = "btn btn-dark" onClick="window.location.reload();" style="float: right; position: relative; top: 10px; right: 10px;"> Click me to see more </button>
    </nav>
<main>
    <div class="container">
      <div class="row">
        <aside class="col-sm" id = "cards1">
            <% for (report of JSON.parse(reports2)) {%>
              <%- report %> 
            <% } %>
        </article>
        </aside>
        <article class="col-sm" id = "cards2">
          <% for (report of JSON.parse(reports)) {%>
              <%- report %> 
            <% } %>
        </article>
        <aside class="col-sm" id = "cards3">
            <% for (report of JSON.parse(reports3)) {%>
              <%- report %> 
            <% } %>
        </article>
        </aside>
      </div>
    </div>
</main>
</html>